# -------------------- Our Own Ignore Config --------------------
# Generated Type Definition Files
*.d.ts
*.d.ts.map
tsconfig.tsbuildinfo
!src/**/types/*.d.ts

# Published Files Owned by Root Directory
src/LICENSE

# Playwright
/test-results/
/playwright-report/
/playwright/.cache/

# -------------------- NPM (via GitHub) --------------------
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
