/* These are just simple styles intended to make testing forms more convenient */
/* -------------------- General Styles -------------------- */
:root {
  --color: #ffffff;
  --field-background: #3b3b3b;
  --border-color: rgb(133, 133, 133);

  color-scheme: light dark;
  color: var(--color);
  background-color: #242424;

  @media (prefers-color-scheme: light) {
    --color: #000000;
    --field-background: #ffffff;
    --border-color: rgb(118, 118, 118);

    background-color: #ffffff;
  }
}

body {
  padding: 0;
  margin: 0;

  h1 {
    margin: 0;
    text-align: center;
  }

  ul {
    margin-bottom: 0;
  }
}

/* -------------------- Form Styles -------------------- */
form {
  --gap: 24px;

  display: flex;
  flex-direction: column;
  row-gap: var(--gap);

  max-width: 300px;
  padding: 50px 0;
  margin: 0 auto;

  .form-field {
    display: inline-block;

    > :is(label, legend) {
      display: inline-block;
      margin-bottom: calc(var(--gap) / 3);

      &:where(label) + :is(input, textarea, select, select-enhancer) {
        display: block;
        box-sizing: border-box;
        width: 100%;
      }

      &:where(label) + :is(input, textarea, select),
      &:where(label) + select-enhancer > [role="combobox"] {
        padding: 8px;
        border: 1px solid var(--border-color);
        border-radius: 4px;
        text-align: left;
        color: var(--color);
        background-color: var(--field-background);

        &:focus-visible {
          border-color: dodgerblue;
          outline: 1px solid dodgerblue;
        }

        &[aria-invalid="true"] {
          border-color: red;
          outline-color: red;
        }
      }
    }

    &:is(:has([aria-invalid="true"]), fieldset[aria-invalid="true"]) > [role="alert"]:not(:empty) {
      margin-top: calc(var(--gap) / 3);
      color: red;

      ul > li[data-password-requirement-valid="false"] {
        color: red;
      }
    }
  }

  textarea {
    resize: none;
    height: 6em;
  }

  select-enhancer :is([role="combobox"], [role="option"]),
  :where([role="combobox"][data-bad-filter]) + [role="listbox"]::before {
    color: var(--color);
    background-color: var(--field-background);
  }

  @media (prefers-color-scheme: dark) {
    select-enhancer > [role="combobox"] + [role="listbox"] > [role="option"][data-active]:not([aria-selected="true"]) {
      background-color: midnightblue;
    }
  }

  fieldset {
    padding: 0;
    border: 0;
    margin: 0;

    > :is(legend, label):first-child {
      display: block;
      width: max-content;
      padding: 0;
      margin-bottom: 8px;
    }

    > :has(> input:is([type="radio"], [type="checkbox"])) {
      display: flex;
      flex-flow: row wrap;
      gap: calc(var(--gap) / 2) calc(var(--gap) / 3);

      > input:is([type="radio"], [type="checkbox"]) {
        margin: 0;
      }
    }
  }
}
